body {
    font-family: Arial;
    background: #ffffff;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 50px;
    background-color: #445162;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.header_h1 {
    font-size: 60px;
    line-height: 1.2;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    margin: 0 0 40px 0;
}

.header_list {
    font-size: 20px;
    line-height: 36px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.header_list li {
    padding: 0 0 0 35px;
    position: relative;
}

.header_list li::before {
    content: '';
    display: inline-block;
    background: url('../imgs/check_icon_346.png') 0 0 no-repeat;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 8px;
    left: 0;
}

.main {
    flex: 1 1 auto;
}

.main_block {
    padding: 50px;
}

.main_h2_tag {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
}

.main_block_1 {
    display: flex;
}

.main_block_1_1 {
    margin: 0 40px 0 0;
}

.main_block_1_2_h2 {
    margin: 0 0 36px 0;
}

.main_block_1_2_p {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    max-width: 640px;
}

.main_block_1_2_p:not(:last-child) {
    margin: 0 0 30px 0;
}

.main_block_2 {
    background-color: #f5f5f5;
}

.main_block_2_h2 {
    text-align: center;
    margin: 0 0 30px 0;
}

.main_block_2_str {
    display: flex;
    justify-content: space-between;
}

.main_block_2_str:not(:last-child) {
    margin: 0 0 30px 0;
}

.main_block_2_str_block {
    display: flex;
}

.main_block_2_str_block:not(:last-child) {
    margin: 0 16px 0 0;
}

.main_block_2_str_img_wrapper {
    margin: 0 15px 0 0;
}

.main_block_2_str_block_h3 {
    font-size: 24px;
    line-height: 30px;
    color: #445161;
    margin: 0 0 15px 0;
}

.main_block_2_str_block_p {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.main_block_3 {
    color: #ffffff;
}

.main_block_3_h2 {
    margin: 0 0 30px 0;
    text-align: center;
}

.main_block_3_container {
    display: flex;
    justify-content: space-evenly;
}

.main_block_3_elem {
    width: 300px;
    min-height: 500px;
    background-color: #445162;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.main_block_3_elem_h3 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 14px 0;
}

.main_block_3_elem_word_wrapper {
    font-size: 40px;
    color: #445162;
    text-align: center;
    background-color: #ffffff;
    padding: 20px 0;
    margin: 0 -20px;
    border: solid #445162;
    border-width: 0 2px;
}

.main_block_3_elem_p_wrapper {
    flex: 1 1 auto;
    margin: 20px 10px 20px 0;
}

.main_block_3_elem_p {
    font-size: 14px;
    line-height: 24px;
}

.main_block_3_elem_p:not(:last-child) {
    margin: 0 0 30px 0;
}

.main_block_3_elem_button {
    background-color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    width: 100%;
    padding: 13px;
    border-radius: 5px;
}

.footer {
    background-color: #f5f5f5;
    padding: 25px;
    text-align: center;
}
